<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UNLOCK!</title>
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/style.css">

</head>
<body>
<div class="sidebar">
    <p class="timer" id="timer"></p>
    <div id="progressbar">
        <div id="progress"></div>
    </div>
    <div class="boutons">
        <button class="button" id="playpauseButton">Pause</button>
        <button class="button" id="indice">Indice</button>
        <button class="button" id="machine">Machine</button>
        <button class="button" id="calc">Calculatrice</button>
        <button class="button" id="settings">Parametres</button>
    </div>
    <div class="numpadspace"></div>
    <img class="logo" src="../data/assets/UNLOCK.webp" alt="logo">
</div>
<div class="gameSpace">

    <div class="wrapper">
        <div id="one"><img src="../data/assets/cards/1_1.png" alt="" class="carte"/></div>
        <div id="two"><img src="../data/assets/cards/1_2.png" alt="" class="carte"/></div>
        <div id="principal"><img src="../data/assets/cards/1_3.png" alt="" class="carte"/></div>
        <div id="four"><img src="../data/assets/cards/3_4.png" alt="" class="carte"/></div>
        <div id="five"><img src="../data/assets/cards/1_5.png" alt="" class="carte"/></div>
        <div id="six"><img src="../data/assets/cards/7_6.png" alt="" class="carte"/></div>
        <div id="seven"><img src="../data/assets/cards/3_1.png" alt="" class="carte"/></div>

        <input type="text" id="searchBar" name="searchBar" placeholder="Command or Code" required minlength="4" maxlength="8" size="10"></div>

</div>


</div>
<script src="../data/js/timer.js"></script>
<script src="../data/js/pausePlayButton.js"></script>
<script src="../data/js/progressbar.js"></script>
</body>
</html>