<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UNLOCK!</title>
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/style.css">

</head>
<body>
<div class="sidebar">
    <p class="timer" id="timer"></p>
    <div id="progressbar">
        <div id="progress"></div>
    </div>
    <div class="boutons">
        <button class="button" id="playpauseButton">Pause</button>
        <button class="button" id="indice">Indice</button>
        <button class="button" id="machine">Machine</button>
        <button class="button" id="calc">Calculatrice</button>
        <button class="button" id="settings">Parametres</button>
    </div>
    <div class="numpadspace"></div>
    <img class="logo" src="../data/assets/UNLOCK.webp" alt="logo">
</div>
<div class="gameSpace">

    <div class="wrapper">


            <div class="one"><img src="../../GameFiles/cards/1_2.png" alt="" class="grid-img"/></div>
            <div class="two"><img src="../../GameFiles/cards/1_3.png" alt="" class="grid-img"/></div>
            <div class="three"><img src="../../GameFiles/cards/1_3.png" alt="" class="grid-img"/></div>


            <div class="four"><img src="../../GameFiles/cards/1_3.png" alt="" class="grid-img-test"/></div>


            <div class="five"><img src="../../GameFiles/cards/1_3.png" alt="" class="grid-img"/></div>
            <div class="six"><img src="../../GameFiles/cards/1_3.png" alt="" class="grid-img"/></div>
            <div class="seven"><img src="../../GameFiles/cards/1_3.png" alt="" class="grid-img"/></div>
            <div class="eigth"><label for="name">enter an action command:</label>

                <input type="text" id="name" name="name" required
                       minlength="4" maxlength="8" size="10"></div>
    </div>


</div>
<script src="../data/js/timer.js"></script>
<script src="../data/js/pausePlayButton.js"></script>
<script src="../data/js/progressbar.js"></script>
</body>
</html>