<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>UNLOCK</title>
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/accueil.css">
</head>
<body>
<div class="lologo"><img id="logo" src="../data/assets/UNLOCK.webp" alt="logo"></div>
<div id="listeBoutons">

    <a href="/play">
        <button id="play">Jouer</button>
    </a>
    {% if conn %}
        <a href="/load">
            <button id="play">Charger la sauvegarde</button>
        </a>
    {% endif %}
    <a href="https://github.com/TheRealEureka/UnLock">
        <button id="github"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="logo_github"> Notre repo
            Github
        </button>
    </a>
</div>
{% if error != "" %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if conn == false %}


    <div class="forms">
        <form class="log" id="login" method="post" action="/login">
            <p>Connexion</p>
            <input type="text" placeholder="Nom d'utilisateur" name="username"/>
            <input type="password" placeholder="Mot de passe" name="password"/>
            <div class="sub">

                <input type="submit"  value="Se connecter"/>
            </div>
        </form>
        <div class="separator"></div>

        <form class="log" id="signup" method="post" action="/signup">
            <p>Créer un compte</p>
            <input type="text" placeholder="Nom d'utilisateur" name="username"/>

            <input type="password" placeholder="Mot de passe" name="password"/>

            <input type="password" placeholder="Répétez le mot de passe :" name="password_confirm"/>
            <div class="sub">
                <input type="submit" class="sub" value="S'inscrire"/>
            </div>
        </form>
    </div>
{% else %}
    <p>Bonjour {{ name }} !</p>
    <a href="/logout">Se déconnecter</a>
{% endif %}
<p id="credits">Projet scolaire réalisé par Tristan BELMONT, Kevin BULLY CIMBALURIA, Lucas FARRONI et Clément
    PERRIN.</p>

</body>
</html>