<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>UNLOCK</title>
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/accueil.css">
</head>
<body>
<div class="lologo"><img id="logo" src="../data/assets/UNLOCK.webp" alt="logo" ></div>
<div id="listeBoutons">

    <a href="/play">
        <button id="play">Jouer</button>
    </a>
    {% if conn %}
        <a href="/load">
            <button id="play">Charger la sauvegarde</button>
        </a>
    {% endif %}
    <a href="https://github.com/TheRealEureka/UnLock">
        <button id="github"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="logo_github"> Notre repo Github</button>
    </a>
</div>
{% if error != "" %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if conn == false %}


    <div class="forms">
    <form class="login" method="post" action="/login">
        <label for="username">Nom d'utilisateur :
        <input type="text" name="username" /></label>
        <label for="password">Mot de passe :
        <input type="password" name="password" /></label>
        <input type="submit" value="Se connecter" />
    </form>
    <div class="separator"></div>
    <form class="signup" method="post" action="/signup">
        <label for="username">Nom d'utilisateur :
        <input type="text" name="username" /></label>
        <label for="password">Mot de passe :
        <input type="password" name="password" /></label>
        <label for="password_confirm">Répétez le mot de passe :
        <input type="password" name="password_confirm" /></label>
        <input type="submit" value="S'inscrire" />
    </form>
</div>
{% else %}
<p>Bonjour {{ name }} !</p>
<a href="/logout">Se déconnecter</a>
{% endif %}
<p id="credits">Projet scolaire réalisé par Tristan BELMONT, Kevin BULLY CIMBALURIA, Lucas FARRONI et Clément
    PERRIN.</p>

</body>
</html>