<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UNLOCK! - VICTORY!</title>
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/vict.css">
</head>
<body>
<div id="text">
    <p id="yourea">You're a</p>
    <p id="winner">WINNER!</p>
    <p id="congrats">Congratulations on winning our version of <a href="https://www.spacecowboys.fr/unlock"><img src="../data/assets/UNLOCK.webp"></a></p>
</div>

<p id="thanks"> Thanks to all our teachers, especially <a href="https://github.com/floo51">Florian Ferbach</a>, for getting us into the project.</p>


<script src="../data/js/animVict.js"></script>
<script src="../data/js/confetti.js"></script>
</body>
</html>