body {
    background-image: url("../assets/desertAcc.jpg");
    font-family: "Fira Code", system-ui;


}


#listeBoutons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#listeBoutons a {
    text-decoration: none;
    color: black;
    width: 50%;
}

#play, #github {
    width: 100%;
    height: 100px;
    font-size: 30px;
    border: none;
    margin-bottom: 5px;
    border-radius: 3px;

    background: radial-gradient(circle, rgba(255, 181, 70, 1) 0%, rgba(254, 213, 27, 0.711922268907563) 50%, rgba(255, 255, 255, 0) 80%);
    margin-top: 50px;
}

#github {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#github img {
    margin-right: 20px;
    height: 90%;

}


#play:hover, #github:hover {

    background: radial-gradient(circle, rgba(255, 181, 70, 1) 0%, rgba(254, 213, 27, 0.89) 50%, rgba(255, 255, 255, 0) 80%);


}


#github img:active {
    filter: invert(100%);
}


#play:active, #github:active {
    background: radial-gradient(circle, rgba(255, 181, 70, 1) 0%, rgba(254, 213, 27, 0.89) 50%, rgba(255, 255, 255, 0) 80%);
    transform: translateY(4px);
}

#credits {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    text-align: center;
}

.lologo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lologo img {
    height: 100%;

}

.forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.forms p{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 3px;
}


.error{
    color: red;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-bottom: -100px;
    --margin-top: -60px;
    -webkit-text-stroke: 1px black;
}

.log{
    height: 200px;
    padding:15px;
    background: rgba(255, 199, 94, 0.51);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border : black;
    margin-top: 100px;
}

.log input{
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: none;
    margin-bottom: 5px;
    border-radius: 3px;
    background: radial-gradient(circle, rgba(255, 181, 70, 1) 0%, rgba(254, 213, 27, 0.711922268907563) 50%, rgba(255, 255, 255, 0) 80%);

}

.sub{
    width: 100%;
background:rgba(254, 213, 27, 0.3)
}

#login{
    margin-left: 300px;
}

#signup{
    margin-right: 300px;
}

.connected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    font-size: 30px;


}

.connected p{
    margin-top: 0;
    margin-bottom: 3px;
    color: white;
}

.connected a {
    text-decoration: none;
    color: black;
    background: #ffac11;
    padding: 10px;
    border-radius: 5px;


}