@import url("https://fonts.google.com/specimen/Fira+Sans?utm_source=bdmtools&utm_medium=siteweb&utm_campaign=google-fonts");

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-shadow: 0 0 5px #000000;
    font-family: "Fira Code", system-ui;
    margin: 0;
    padding: 0;
}

#text {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 60px;

}

#loser {
    margin-top: -40px;
    font-size: 130px;
    font-weight: bolder;

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100000;
}

#restart{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(145, 145, 145, 0.4);
    color: #ffac11;
}

