@import url("https://fonts.google.com/specimen/Fira+Sans?utm_source=bdmtools&utm_medium=siteweb&utm_campaign=google-fonts");


html,
body {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: #ffac11 3px solid;
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 185, 18);
    background: linear-gradient(164deg, rgb(255, 172, 17) 0%, rgba(255, 194, 80, 1) 35%, rgb(159, 78, 0) 100%);
    align-items: center;
}

.timer {
    margin-top: 0;
    font-size: 80px;
    text-align: center;
    font-family: "Fira Code", system-ui;
}

.boutons {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    width: 80%;
    height: 60px;
    font-size: 30px;
    border: darkgrey 1px solid;
    margin-bottom: 5px;
    border-radius: 10px;
    font-family: "Fira Code", system-ui;
    background: rgb(255, 255, 255);
}

.button:hover {
    background-color: #bbbbbb;
    color: white;
}

.button:active {
    background-color: #636363;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.numpadspace {
    align-content: center;
    width: 80%;
    height: 300px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: antiquewhite;
    border: darkgrey 1px solid;
}

.logo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #636363;
    border-right: #636363 3px solid;
}

.gameSpace {
    height: 100%;
    width: 85%;
    position: absolute;
    top: 0;
    left: calc(15% + 3px);
    background-image: url("../assets/bgGame.jpg");
    background-size: cover;
    display:flex;
    overflow: scroll;
}

#progressbar {
    margin-top:-80px;
    margin-bottom: 60px;
    width:90%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    overflow: hidden;
}

#progress {
    width: 1%;
    height: 30px;
    background-color: #986600;


}


.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carte{
    height: 530px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carte:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchBar{
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: antiquewhite;
    border: darkgrey 1px solid;

}

#principal{

    background: #b68c56;
    border-radius: 10px;
    --border: darkgrey 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
