@import url("https://fonts.google.com/specimen/Fira+Sans?utm_source=bdmtools&utm_medium=siteweb&utm_campaign=google-fonts");


html,
body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: #ffac11 3px solid;
    height: 100%;
    width: 210px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/bgMenu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.timer {
    margin-top: 0;
    font-size: 80px;
    text-align: center;
    font-family: "Fira Code", system-ui;
}

.boutons {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    width: 80%;
    height: 60px;
    font-size: 30px;
    border: darkgrey 1px solid;
    margin-bottom: 5px;
    border-radius: 10px;
    font-family: "Fira Code", system-ui;
    background: rgb(255, 255, 255);
}

.button:hover {
    background-color: #bbbbbb;
    color: white;
}

.button:active {
    background-color: #636363;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.numpadspace {
    background: url("../assets/cards/6_back.png") no-repeat;
    background-size: contain;
    cursor : pointer;
    align-content: center;
    width: 80%;
    height: 300px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: darkgrey 1px solid;
}

.logo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #636363;
    border-right: #636363 3px solid;
}

.gameSpace {
    height: 100%;
    margin-left: 210px;
    top: 0;
    left: calc(15% + 3px);
    background-image: url("../assets/bgGame.jpg");
    background-size: cover;
    display:flex;
    overflow: scroll;
}

#progressbar {
    margin-top:-80px;
    margin-bottom: 60px;
    width:90%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    overflow: hidden;
}

#progress {
    width: 1%;
    height: 30px;
    background-color: #986600;
}


.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.carte{
    height: 530px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s;

}

.carte:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchBar{
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: antiquewhite;
    border: darkgrey 1px solid;

}

#principal{

    background-image: url("../assets/bgMenu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    --border: darkgrey 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate{
    transform: rotate(180deg);
    transition: transform 0.5s;
}

/** Popup **/
.popup {
    text-align: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.popup-content {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    max-height: 80%;
    overflow: scroll;
}

.close {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    width: 30px;
}

.carte_small{
    height: 400px;

}

.hidden{
    display:none;
}